.container {
    border-bottom: 2px solid #000000;
    display: flex;
    height: 200px;
    width: 100%;
}

.child {
    align-self: flex-end;
    width: 100px;
    height: 100px;
    background: #FFB6C1;
    transition: transform .3s ease-out;
}

.child:hover {
    transform: translate(50px, 0);
}